.chatmain
  .chatmain__top
    %p.chatmain__top--text
      = @group.name
    %p.chatmain__top--member
      Member:
      - @group.users.each do |user|
        = user.name
    =link_to edit_group_path(@group) , class:"chatmain__top--edit" do
      edit
  .chatmain__middle
    = render @messages
  .chatmain__bottom
    .text-box
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form-text', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'form__mask__image__file'
        = f.submit 'Send', class: 'submit-btn'
